---
layout: ""
page_title: "Ockam"
description: |-
  Unofficial Ockam provider
---

# Ockam Provider

Unofficial [Ockam](https://ockam.io) provider.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
