name: ci

permissions:
  contents: write

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568
        with:
          go-version: 1.18

      - uses: actions/cache@fd5de65bc895cf536527842281bea11763fefd77
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: go mod download

      - run: go fmt ./...
      - run: go vet .
      - run: go build -v .

      - run: go test -v -cover ./...
        env:
          TF_ACC: '1'
