name: ci

permissions:
  contents: write

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: actions/setup-go@84cbf8094393cdc5fe1fe1671ff2647332956b1a
        with:
          go-version: 1.18

      - uses: actions/cache@a7c34adf76222e77931dedbf4a45b2e4648ced19
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: go mod download

      - run: go fmt ./...
      - run: go vet .
      - run: go build -v .

      - run: go test -v -cover ./...
        env:
          TF_ACC: '1'
